

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container {
    background-color: transparent;
    position: relative;
  }
  
  .navbar {
    background-color: transparent;
    position: relative;
    z-index: 1; /* Ensure Navbar appears above other elements */
  }
  